./cours02/Backup
./cours03/Backup
./cours04/Backup
./cours05/Backup
./cours06/Backup
./cours07/Backup
./cours08/Backup
./cours09/Backup
./cours10/Backup
./cours11/Backup
./cours12/Backup
./cours13/Backup
./cours14/Backup

/cours02/Backup
/cours03/Backup
/cours03/atelier/Backup
cours04/.DS_Store
.DS_Store
.DS_Store
